.score-board {
	text-align: left;
	margin-bottom: 10px;
}

.score-board .stars {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin: 0 5px 0 0;
}

.score-board .stars li {
	list-style: none;
	display: inline-block;
}

.score-board .restart {
	float: right;
	cursor: pointer;
}

.fa-star {
	color:white;
}

.timer {
	display: inline-block;
	margin: 0 1rem;
}