/*Name: Basic HTML template
  Date: January 15, 2018
  description: A basic HTML5 template with CSS3
  Version: 1.0
  Author: Kevin Saelee
*/
@import 'index/reset.css';
@import 'index/global.css';
@import 'index/featured.css';
@import 'index/blog.css';
@import 'index/link.css';