/*Featured headline*/

#featured {
	background: #fff;
	margin-bottom: 28px;
	overflow: hidden;
	padding: 20px;
	width: 760px;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#featured figure {
	border: 2px solid #eee;
	float: right;
	margin: 11px 28px 0px 70px;
	width: 248px;
}

#featured figure img {
	display: block;
	float: right;
}

#featured h2 {
	color: #C74451;
	font-size: 23px;
	margin-bottom: 4px;
}

#featured h3 {
	font-size: 20px;
	margin-bottom: 7px;
}

#featured h3 a:link, #featured h3 a:visited {
	color: #000305;
	text-decoration: none;
}

#featured h3 a:hover, #featured h3 a:active { color: #fff; }