/*Links*/

#extras {
	margin: 0px auto 42px auto;
	overflow: hidden;
}

#extras ul {
	list-style: none; 
	margin: 0;
}

#extras li {
	border-bottom: 1px solid #fff
}

#extras h2 {
	color: #C74350;
	font-size: 20px;
	margin-bottom: 3px;
	padding: 0px 3px;
}

#extras a:link, #extras a:visited {
	color: #444;
	display: block;
	border-bottom: 1px solid #F4E3E3;
	text-decoration: none;
	padding: 4px 3px;
}

#extras .blob {
	float: left;
	width: 615px;
}

#extras .blob li {
	float: left;
	margin: 0 20px 0 0;
	width: 185px;
}

#extras .social-media {
	float: right;
	width: 175px;
}

#extras li:last-child, #extras li:last-child a { border: 0px; }

#extras .blob li:nth-last-child(2),
#extras .blob li:nth-last-child(3),
#extras .blob li:nth-last-child(2) a,
#extras .blob li:nth-last-child(3) a { border: 0px; }

#extras div[class='social-media'] a {
	background-repeat: no-repeat;
	background-position: 3px 6px;
	padding-left: 25px;
}

/*Add icons here*/